<section>
    <h2>Parent Component</h2>
    <app-child [childDataAttribute]="messageFromParent" [childObjectDataAttribute]="objectFromParent" (eventForStringData)="parentMethodForString($event)" ></app-child>
    <app-child (eventForObjectData)="parentMethodForObject($event)"></app-child>
    <button (click)="sendDatatoChild()">Send data to child</button>

    <label >Data from Child: {{stringDataFromChild}}</label>

    <hr/>
    <label >User Details from child</label>
    <ul>
        <li>{{dataObjFromChild.name}}</li>
        <li>{{dataObjFromChild.empId}}</li>
        <li>{{dataObjFromChild.address}}</li>
        <li>{{dataObjFromChild.city}}</li>
        <li>{{dataObjFromChild.state}}</li>
        <li>{{dataObjFromChild.designation}}</li>
    </ul>
</section>